
.loading-placeholder  {
  height: 400px;
	background: rgb(181,181,181);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  border-radius: 15px;
}

.loading-placeholder:hover {
  cursor: wait;
}

@keyframes gradient {
	0% {
    background: rgb(181,181,181,0.10);
	}
	80% {
		background: rgb(181,181,181);
	}
  100% {
    background: rgb(181,181,181,0.10);
	}
}

.graph .row {
  align-items: end;
  justify-content: center;
}

.column {
  width: 100px;
  border-radius: 10px;
}

.column-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.column-item p {
  margin: 0;
}

.column-item:first-child {
  background-color: #4AB6E8;
}

.column-item:nth-child(2) {
  background-color: #AA6FAC;
}

.column-item:nth-child(3) {
  background-color: #E85498;
}

.column-name {
  text-align: center;
}