body {
  font-family: 'roboto';
  background-color: white;
}

.container {
  max-width: 720px;
  padding: 15px 20px;
  border-radius: 0;
  width: 100vw;
}

@media (min-width: 720px) {
  .container {
    background-color: white;
    padding: 15px 20px;
    border-radius: 7px;
    margin-top: 15px;
  }

  body {
    background-color: lightgray;
  }
}

@media (max-width: 719px) {
  .container {
    margin: 0;
  }
}

.toggle-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1002;
}

.url-menu {
  position: fixed;
  top: 25px;
  width: 200px;
  z-index: 1003;
}

.url-menu div {
  color: #898290;
}

.url-menu div:hover {
  cursor: pointer;
  color: black;
}

.menu-button:hover {
  cursor: pointer;
}

.header {
  color: #898290;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header h3 {
  padding: 0;
  margin: 0;
}

.loading-placeholder  {
  height: 400px;
	background: rgb(181,181,181);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  border-radius: 15px;
}

.loading-placeholder:hover {
  cursor: wait;
}

@keyframes gradient {
	0% {
    background: rgb(181,181,181,0.10);
	}
	80% {
		background: rgb(181,181,181);
	}
  100% {
    background: rgb(181,181,181,0.10);
	}
}


.arrows {
  display: flex;
  justify-content: center;
  height: 62px;
}

.arrows svg {
  z-index: 1000;
}

.color-badges {
  display: flex;
  justify-content: center;
}

.color-badge {
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  min-width: 48px;
  max-width: fit-content;
  height: 24px;
  padding: 5px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.color-badge span {
  margin-left: 2px;
}

.badge-zero span {
  width: 100%;
  text-align: center;
}

#badge-0 {
  position: relative;
  top: 24px;
  z-index: 1001;
  left: -60px;
}

#badge-1 {
  position: relative;
  top: 24px;
  z-index: 1001;
  left: -20px;
}

.graph .row {
  align-items: end;
  justify-content: center;
}

.column {
  width: 60px;
  border-radius: 10px;
  padding: 0;
  margin: 0 10px;
}

.column-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.column-item p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}

.column-item:first-child {
  background-color: #4AB6E8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.column-item:nth-child(2) {
  background-color: #AA6FAC;
}

.column-item:nth-child(3) {
  background-color: #E85498;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.column-name {
  text-align: center;
  font-weight: 400;
  color: #898290;
  font-size: 10px;
  margin-top: 10px;
}

.standart-column-item {
  background-color: #4AB6E8;
  border-radius: 10px;
}

.standart-column-item p{
  color: #898290;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: white;
}

@media (min-width: 520px) {
  .column {
    width: 80px;
    margin: 0 20px;
  }

  #badge-0 {
    top: 24px;
    left: -97px;
  }
  
  #badge-1 {
    top: 24px;
    left: -23px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #898290
}

.footer-item {
  display: flex;
}

.footer-item:nth-child(2) {
  margin-left: 40px;
  margin-right: 40px;
}

.color-square {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

#color-square-0 {
  background-color: #4AB6E8;
}

#color-square-1 {
  background-color: #AA6FAC;
}

#color-square-2 {
  background-color: #E85498;
}

.footer-item p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  font-size: 10px;
}